<div class=" home-background min-h-screen">
  <div class="container flex flex-col justify-center items-center gap-20 my-[100px]">
    <div class="flex flex-row items-center gap-5 w-3/5 mt-12">
      <div class="flex flex-col items-center whitespace-nowrap w-full gap-5 mt-auto">
        <div class="flex justify-between w-full">
          <div class="flex flex-col mt-auto">
            <h1 class="text-4xl">
              <span class="text-amber-400 font-bold">Rate </span>That Player</h1>
            <span class="text-sm text-gray-200">we ain't getting chat restricted with this one</span>
          </div>
          <%= image_tag('league-of-legends.png', class: 'h-[70px] w-auto hover:scale-105 transition duration-200') %>
        </div>
        <%= render 'search/search'%>
        <% if @player %>
          <p>Player name: <%= @player['gameName'] %></p>
          <p>Tag line: <%= @player['tagLine'] %></p>
        <% else %>
          <p>No player data found.</p>
        <% end %>
      </div>
      <%= image_tag('Honor_Level_0.png', class: 'h-[200px] w-auto flex flex-grow  rounded-lg hover:scale-105 transition duration-200')%>
    </div>
    <div class="flex flex-col justify-center lg:justify-start w-full gap-2">
      <div class="flex flex-row justify-center lg:justify-start hover:scale-105 transition duration-200 gap-2 whitespace-nowrap">
        <h1 class="text-3xl">Recent Player Reviews</h1>
        <%= image_tag('pen-review.svg', class: 'h-[40px]') %>
      </div>
      <div class="flex flex-wrap justify-center lg:justify-between gap-5">
        <%= render 'posts' %>
      </div>
    </div>
  </div>
</div>
