<% if @matches %>
  <% @matches.each do |match| %>
    <h2 class="text-lg leading-tight font-medium"><%= match['metadata']['matchId'] %></h2>
    <h2 class="text-lg leading-tight font-medium"><%= match['info']['participants'] %></h2>
    <div class="flex items-center p-3 bg-blue-900 w-full">
      <div class="flex flex-row items-center justify-between w-full">
        <div class="flex flex-col">
          <h3><%= match['info']['gameMode'] %></h3>
          <p>days ago</p>
          <h2>LP</h2>
          <h3><%= match['info']['gameDuration']%> <%= match['info']['gameDuration']%></h3>
        </div>
        <div class="flex flex-row">
          <div class="h-[60px] w-[60px] bg-white border border-red text-black">ICON</div>
          <div class="grid grid-cols-2 h-[60px] w-[60px]">
            <div class="bg-white border border-red"></div>
            <div class="bg-white border border-red"></div>
            <div class="bg-white border border-red"></div>
            <div class="bg-white border border-red"></div>
          </div>
        </div>
        <div class="flex flex-col">
          <div>K/D/A</div>
          <div>RATIO</div>
          <div>CS</div>
          <div>VISION</div>
        </div>
        <div class="grid grid-cols-4 h-[60px] w-[120px]">
          <% (0..6).each do |i| %>
            <% if match['metadata']["item#{i}"] %>
              <img src="https://ddragon.leagueoflegends.com/cdn/14.7.1/img/item/<%= match['metadata']["item#{i}"] %>.png">
            <% else %>
              <div class="border"></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>